[submodule "panda"]
  path = panda
  url = https://github.com/lidin888/panda.git
[submodule "opendbc"]
  path = opendbc_repo
  url = https://github.com/lidin888/opendbc.git
  branch = SP
[submodule "msgq"]
  path = msgq_repo
  url = https://github.com/lidin888/msgq.git
[submodule "rednose_repo"]
  path = rednose_repo
  url = https://github.com/lidin888/rednose.git
[submodule "teleoprtc_repo"]
  path = teleoprtc_repo
  url = https://github.com/lidin888/teleoprtc.git

[submodule "sunnypilot/neural_network_data"]
  path = sunnypilot/neural_network_data
  url = https://github.com/lidin888/neural-network-data.git
