[Desktop Entry]
Name=Lane
GenericName=Lane
Comment=openpilot is an operating system for robotics
Exec=gnome-terminal -e "bash -c '/home/op/launch_lane.sh;$SHELL'"
Terminal=false
Type=Application
Icon=/home/op/logo.ico
